:root {
    --russian-violet: #241e4e;
    --cinnabar: #e94f37;
    --sunglow: #ffd046;
    --medium-champagne: #f7e298;
    --blue-yonder: #547aa5;
    --russian-violet-muted: #36305c;
    --card-background: #d4c47c;

}